.home {
  width: 100%;
  background-color: #000;

  .parallax-foreground {
    margin-top: 750px;
    background-color: #111;

    .logo {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: -700px;
      width: 80%;
      max-width: 1030px;
    }
  }
}
